@{
    ViewBag.Title = "设置";
}


<div>
    <div>
        <div>保存</div>
        <div>@Html.ActionLink("返回", "index")</div>
    </div>
    <div>
        <table id="#dg"></table>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $('#dg').da

</script>


@Scripts.Render()