
@{
    ViewBag.Title = "数据交换管理";
}


<h2>@ViewBag.Title</h2>

<div>
    状态类型<input type="checkbox" value="Unhandle"/>未处理<input type="checkbox" value="Handled" />已处理 

    接收时间 <input class="easyui-datetimebox" name="birthday"
       data-options="required:true,showSeconds:false" value="3/4/2010 2:3" style="width:150px">
</div>
<div>

</div>

